<?xml version="1.0" ?>
<robot name="bluerov" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
<xacro:arg name="prefix" default="bluerov"/>

<link name="$(arg prefix)/base_link">
    <visual>
      <geometry>
        <mesh filename="package://marine_presenter/objects/mesh/bluerov2_noprop.ive"/>        
      </geometry>
    </visual>
  </link>
</robot>

